.App {
  text-align: center;
}

.App-logo {
  height: 120px;
  pointer-events: none;
  padding: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.App-link {
  color: #61dafb;
}


td {
  text-align: left;
  padding: 10px;
  vertical-align: top;
}

input {
  font-size: 30px;
}

.App-button {
  border: 1px solid white;
  padding: 10px;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}